<% layout('index') %>
<% block('title', "О нас")%>
<main class="main">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adf1029035886a2a56a1d433abe17fe0c61d8c82b4d8475b72592862606a66a5e&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
    <div style="border: 1px solid red" class="container">

    </div>
</main>