<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/materialize.min.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Администратор</title>
</head>
<body>
    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"> Cars Admin<i style="margin-left: 22px;" class="small material-icons">time_to_leave</i></a>
                <ul id="nav-mobile" class="right">
                    <li><a id="logout" href="/logout">Выход</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent menu">
                    <li class="tab"><a target="_self" href="#"> Статистика </a></li>
                    <li class="tab"><a target="_self" href="#">Добавление автомобиля</a></li>
                    <li class="tab"><a target="_self" href="#"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">

    </main>
    <% include /scripts.ejs %>
    <script  type="text/javascript">
        (document.onload = () => {

            let menu = document.querySelectorAll('.menu>li'),
                main = document.querySelector('main.main');

            menu[0].addEventListener('click', () => {
                $.ajax({
                    type: "POST",
                    url: "/getboughtcars",
                    contentType: 'application/json',
                }).done(c => {
                    console.log(c);

                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                            ['Модель', 'Количество'],
                            ['Model 1', c.data[0]],
                            ['Model 2', c.data[1]],
                            ['Model 3', c.data[2]]
                        ]);

                        var options = {
                            title: 'Проданные автомобили'
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);
                    }
                });

                main.innerHTML = `<div id="piechart" style="width: 100%; height: 500px;"></div>`;
            });
            
            menu[1].addEventListener('click', () => {
                $.ajax({
                    type: "GET",
                    url: "/add",
                    contentType: 'application/json'
                }).done(data => {
                    main.innerHTML = data.html;
                    setTimeout(() => {
                        $('select').formSelect();
                    }, 500);
                });
            });
        })();
    </script>
</body>
</html>