<% layout('index')%>
<% block('title', "Покупка") %>
<main class="main">
    <div class="container">
            <ul class="collapsible popout">
                    <% cars.forEach(car => { %>
                    <li>
                        <div class="collapsible-header"><img class="car-badge" src="images/car.png" alt="car"> 
                            <div class="collapsible-text">
                                <span class="text-accent-1">
                                    <%= car.color %>
                                    <%= car.complectation %> 
                                    <%= car.model %>
                                </span> 
                            </div>
                            <span class="new badge"></span>
                         </div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, possimus.</span></div>
                    </li>
                    <% }) %>
                </ul>
    </div>
</main>