<header>
    <nav class="nav-extended teal lighten-2">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"> Cars <i style="margin-left: 22px;" class="small material-icons">time_to_leave</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if(user.id && user.login){ %>
                    <li><a class="disabled" href="#"><%=user.login%></a></li>
                    <li><a href="/logout">Выход</a></li>
                <% } else{ %>
                    <li><a class="modal-trigger" href="#login">Войти</a></li>
                    <li><a class="modal-trigger" href="#register">Зарегистрироваться</a></li>
                <% } %>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent menu">
                <li class="tab"><a target="_self" href="/"> Главная </a></li>
                <li class="tab"><a target="_self" href="/buy" >Модельный ряд</a></li>
                <li class="tab"><a target="_self" href="/">Подержанные автомобили</a></li>
                <li class="tab"><a target="_self" href="/">Финансовые программы</a></li>
                <li class="tab"><a target="_self" href="/about">О нас</a></li>
            </ul>
        </div>
    </nav>
</header>