<% layout('index') %>
<% block('title', "Главная")%>
<main class="main">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="https://a.mytrend.it/etf/2018/09/754637/o.479103.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="https://www.tesla.com/sites/default/files/images/homepage/20180710/mx/homepage-modelx.jpg?20181028"></a>
        <a class="carousel-item" href="#three!"><img src="https://img4.goodfon.ru/original/1440x900/a/c9/tesla-roadster-2020-skorost.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="https://img2.goodfon.ru/original/1440x900/1/a5/larte-design-tesla-model-s-3453.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="https://img3.goodfon.ru/original/1440x900/9/39/2015-larte-design-tesla-model-1901.jpg"></a>
    </div>

    <div class="parallax-container">
        <div class="parallax"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
                this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://img4.goodfon.ru/original/1440x900/a/c9/tesla-roadster-2020-skorost.jpg"></div>
    </div>
</main>
<script type="text/javascript">
    setTimeout(() => {
        $('.carousel').carousel({
            duration: 200,
            dist: -100,
            fullWidth: true,
            indicators: true
        });

        let carousel = M.Carousel.getInstance(document.querySelector('.carousel'));
        setInterval(() => {
            carousel.next();
        }, 5000);
    }, 1000);
</script>